@media only screen and (max-width: 1140px) {
  .suggestionList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .suggestionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.suggestionList {
  margin-top: 53px;
  margin-left: 50px;
}

.suggestionItem {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

#suggestionTitle {
  margin-left: 15px;
}
